<%- include("./partials/adminHeader") %>
<div class="row">
  <!-- Your Profile Views Chart -->
  <div class="col-lg-12 m-b30">
    <div class="widget-box">
      <div class="email-wrapper">
        <div class="mail-list-container">
          <div class="mail-toolbar">
            <h4>Lire Communication</h4>
          </div>
          <div class="mail-box-list">
            <div class="row">
				<!-- Your Profile Views Chart -->
				<div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div class="email-wrapper">
							
							<div class="mail-list-container">
								
								<div class="mailbox-view">
									<div class="mailbox-view-title">
										<h5 class="send-mail-title"><%= com.titre %></h5>
									</div>
									<div class="send-mail-details">
										<p><%= com.description %></p>
										<!-- <div class="read-content-body mt-20">
										
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> 
				</div>
				<!-- Your Profile Views Chart END-->
			</div>
		</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Your Profile Views Chart END-->
  </div>
</div>
<%- include("./partials/adminFooter") %>
