<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from educhamp.themetrades.com/demo/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Feb 2019 13:08:15 GMT -->
  <head>
    <!-- META ============================================= -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="Institut superieur Mbanza ngungu" />

    <!-- OG -->
    <meta property="og:title" content="Institut superieur Mbanza ngungu" />
    <meta
      property="og:description"
      content="Institut superieur Mbanza ngungu"
    />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no" />

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="../error-404.html" type="image/x-icon" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../../admin/images/favicon.png"
    />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>Institut superieur Mbanza ngungu</title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--[if lt IE 9]>
      <script src="../../../admin/js/html5shiv.min.js"></script>
      <script src="../../../admin/js/respond.min.js"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../admin/css/assets.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../admin/vendors/calendar/fullcalendar.css"
    />

    <!-- TYPOGRAPHY ============================================= -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../admin/css/typography.css"
    />

    <!-- SHORTCODES ============================================= -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../admin/css/shortcodes/shortcodes.css"
    />

    <!-- STYLESHEETS ============================================= -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../admin/css/style.css"
    />

    <link rel="stylesheet" type="text/css" href="../../../admin/vendors/summernote/summernote.css">

    <link
      rel="stylesheet"
      type="text/css"
      href="../../../admin/css/dashboard.css"
    />
    <link
      class="skin"
      rel="stylesheet"
      type="text/css"
      href="../../../admin/css/color/color-1.css"
    />
    <link rel="stylesheet" type="text/css" href="assets/vendors/file-upload/imageuploadify.min.css">

  </head>
  <body class="ttr-opened-sidebar ttr-pinned-sidebar">
    <!-- header start -->
    <header class="ttr-header">
      <div class="ttr-header-wrapper">
        <!--sidebar menu toggler start -->
        <div class="ttr-toggle-sidebar ttr-material-button">
          <i class="ti-close ttr-open-icon"></i>
          <i class="ti-menu ttr-close-icon"></i>
        </div>
        <!--sidebar menu toggler end -->
        <!--logo start -->
        <div class="ttr-logo-box">
          <div>
            <!-- <a href="index.html" class="ttr-logo">
						<img class="ttr-logo-mobile" alt="" src="../../../dmin/images/logo-mobile.png" width="30" height="30">
						<img class="ttr-logo-desktop" alt="" src="../../../dmin/images/logo-white.png" width="160" height="27">
					</a> -->
          </div>
        </div>
        <!--logo end -->
        <div class="ttr-header-menu">
          <!-- header left menu start -->
          <!-- header left menu end -->
        </div>
        <div class="ttr-header-right ttr-with-seperator">
      
          <div
          style="
            display: flex;
            height: 60px;
            align-items: center;
            margin-right: 15px;
            color: white;
          "
        >
          <%=user.nom %>
          <a href="/auth/logout" style="margin-left: 10px">Déconnection</a>
        </div>
        </div>
        <!--header search panel start -->
        <div class="ttr-search-bar">
          <form class="ttr-search-form">
            <div class="ttr-search-input-wrapper">
              <input
                type="text"
                name="qq"
                placeholder="search something..."
                class="ttr-search-input"
              />
              <button type="submit" name="search" class="ttr-search-submit">
                <i class="ti-arrow-right"></i>
              </button>
            </div>
            <span class="ttr-search-close ttr-search-toggle">
              <i class="ti-close"></i>
            </span>
          </form>
        </div>
        <!--header search panel end -->
      </div>
    </header>
    <!-- header end -->
    <!-- Left sidebar menu start -->
    <div class="ttr-sidebar">
      <div class="ttr-sidebar-wrapper content-scroll">
        <!-- side menu logo start -->
        <div class="ttr-sidebar-logo">
          <a href="/admin/dashboard">
            <!-- <img alt="" src="../../../dmin/images/logo.png" width="122" height="27"> -->
            <h1 style="color: black">Logo</h1></a
          >
          <!-- <div class="ttr-sidebar-pin-button" title="Pin/Unpin Menu">
					<i class="material-icons ttr-fixed-icon">gps_fixed</i>
					<i class="material-icons ttr-not-fixed-icon">gps_not_fixed</i>
				</div> -->
          <div class="ttr-sidebar-toggle-button">
            <i class="ti-arrow-left"></i>
          </div>
        </div>
        <!-- side menu logo end -->
        <!-- sidebar menu start -->
        <nav class="ttr-sidebar-navi">
          <ul>
            <li>
              <a href="/admin/dashboard" class="ttr-material-button">
                <span class="ttr-icon"><i class="ti-home"></i></span>
                <span class="ttr-label">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="#" class="ttr-material-button">
                <span class="ttr-icon"><i class="ti-book"></i></span>
                <span class="ttr-label">Cours</span>
                <span class="ttr-arrow-icon"
                  ><i class="fa fa-angle-down"></i
                ></span>
              </a>
              <ul>
                <li>
                  <a href="/admin/cours" class="ttr-material-button"
                    ><span class="ttr-label">Cours</span></a
                  >
                </li>
                <li>
                  <a href="/admin/nouveau_cours" class="ttr-material-button"
                    ><span class="ttr-label">Nouveau cours</span></a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="ttr-material-button">
                <span class="ttr-icon"><i class="ti-user"></i></span>
                <span class="ttr-label">Etudiant</span>
                <span class="ttr-arrow-icon"
                  ><i class="fa fa-angle-down"></i
                ></span>
              </a>
              <ul>
                <li>
                  <a href="/admin/etudiants" class="ttr-material-button"
                    ><span class="ttr-label">Etudiant</span></a
                  >
                </li>
                <!-- <li>
                  <a href="/admin/nouveau_etudiant" class="ttr-material-button"
                    ><span class="ttr-label">Nouvel Etudiant</span></a
                  >
                </li> -->
              </ul>
            </li>
            <li>
              <a href="#" class="ttr-material-button">
                <span class="ttr-icon"><i class="ti-calendar"></i></span>
                <span class="ttr-label">Horaire</span>
                <span class="ttr-arrow-icon"
                  ><i class="fa fa-angle-down"></i
                ></span>
              </a>
              <ul>
                <li>
                  <a href="/admin/horaire" class="ttr-material-button"
                    ><span class="ttr-label">Horaire</span></a
                  >
                </li>
                <li>
                  <a href="/admin/nouveau_horaire" class="ttr-material-button"
                    ><span class="ttr-label">Nouveau horaire</span></a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="ttr-material-button">
                <span class="ttr-icon"><i class="ti-book"></i></span>
                <span class="ttr-label">Prof</span>
                <span class="ttr-arrow-icon"
                  ><i class="fa fa-angle-down"></i
                ></span>
              </a>
              <ul>
                <li>
                  <a href="/admin/prof" class="ttr-material-button"
                    ><span class="ttr-label">Prof</span></a
                  >
                </li>
                <li>
                  <a href="/admin/nouveau_prof" class="ttr-material-button"
                    ><span class="ttr-label">Nouveau Prof</span></a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="ttr-material-button">
                <span class="ttr-icon"><i class="ti-email"></i></span>
                <span class="ttr-label">Communication</span>
                <span class="ttr-arrow-icon"
                  ><i class="fa fa-angle-down"></i
                ></span>
              </a>
              <ul>
                <li>
                  <a href="/admin/communications" class="ttr-material-button"
                    ><span class="ttr-label">Communication</span></a
                  >
                </li>
                <li>
                  <a
                    href="/admin/nouvelle_communication"
                    class="ttr-material-button"
                    ><span class="ttr-label">Créer communication</span></a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="/admin/profil" class="ttr-material-button">
                <span class="ttr-icon"><i class="ti-user"></i></span>
                <span class="ttr-label">Profil</span>
              </a>
            </li>
            <li class="ttr-seperate"></li>
          </ul>
          <!-- sidebar menu end -->
        </nav>
        <!-- sidebar menu end -->
      </div>
    </div>
    <!-- Left sidebar menu end -->

    <!--Main container start -->
    <main class="ttr-wrapper">
      <div class="container-fluid">
        <div class="db-breadcrumb">
          <h4 class="breadcrumb-title">Dashboard</h4>
          <ul class="db-breadcrumb-list">
            <li>
              <a href="#"><i class="fa fa-home"></i>Accueil</a>
            </li>
            <li>Dashboard</li>
          </ul>
        </div>
      </div>
    </mai>
